<ion-content>
  <ion-grid class="ion-margin">
    <ion-row *ngIf="needName" class="ion-justify-content-center">
      <ion-col>
        <ion-col>
          <ion-label for="Name">Name: </ion-label>
          <ion-input class="accent ion-margin-top ion-text-center" required="true" placeholder="Timothy" color="medium" autofocus="true" name="name" type="name" [formControl]="name"></ion-input>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-col>
          <ion-label for="email">Email: </ion-label>
          <ion-input class="accent ion-margin-top ion-text-center" required="true" placeholder="ke@wallboard.com" color="medium" autofocus="true" name="email" type="email" [formControl]="email"></ion-input>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <ion-col>
          <ion-label for="password">Password: </ion-label>
          <ion-input class="accent ion-margin-top ion-text-center" min="6" required="true" name="password" type="password" color="medium" [formControl]="password"></ion-input>
        </ion-col>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" class="ion-activatable" (click)="onSubmit()">{{buttonCopy}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

