<wb-header name="Todo Details"></wb-header>

<ion-content>
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="arrow-back-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card *ngIf="todo" class="ion-margin">
      <ion-card-title>
        <h1 class="ion-text-center">{{todo.title}}</h1>
      </ion-card-title>
    <ion-card-content>
      <ion-text class="ion-text-center">
        <p>{{todo.desc}}</p>
        <hr>
        <p>Due: {{todo.date}}</p>
      </ion-text>
      <div *ngIf="todo.public" class="ion-margin-top ion-justify-content-center ion-align-items-center ion-text-center">
        <ion-badge color="secondary">Public</ion-badge>
        <ion-text>
          <p *ngIf="todo.likes.length === 0">No stars yet from the community</p>
          <p *ngIf="todo.likes.length === 1">1 star from the community</p>
          <p *ngIf="todo.likes.length > 1">{{todo.likes.length}} stars from the community</p>
        </ion-text>
      </div>
      <div *ngIf="!todo.completed && todo.userId === user.userId" class="ion-margin-top">
        <ion-label>Completed?</ion-label>
        <ion-checkbox [(ngModel)]="isChecked" class="ion-float-end" color="success"></ion-checkbox>
      </div>
      <ion-button expand="block" class="ion-margin-top" *ngIf="isChecked && !todo.completed" color="secondary" (click)="update(todo)">Submit</ion-button>
    </ion-card-content>
  </ion-card>
  <div *ngIf="comments$ | async as comments">
    <ion-card *ngFor="let comment of comments">
      <ion-item>
        <ion-label>Comment by: {{comment.userId}}</ion-label>
        <ion-button *ngIf="(comment.userId === user.userId || todo.userId === user.userId) || comment.userId === userId" color="danger" (click)="deleteComment(comment)">X</ion-button>
      </ion-item>
      <ion-card-content>
        {{comment.comment}}
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="!todo.completed" class="ion-margin ion-padding" >
    <ion-input [formControl]="comment" type="text">
      <ion-label>Comment:</ion-label>
    </ion-input>
    <ion-button expand="block" (click)="submitComment()">Post Comment</ion-button>
  </ion-card>
</ion-content>

