<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Todo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1 class="ion-text-center ion-margin-vertical ion-text-capitalize">Todo List</h1>
  <p class="ion-text-center">Quote</p>
  <ion-reorder-group disabled="false" (ionItemReorder)="doReorder($event)">
    <ion-reorder>
      <ion-item>
        <ion-label>
          Make Angular App
        </ion-label>
        <ion-button color="primary">View</ion-button>
        <ion-button color="secondary">Edit</ion-button>
        <ion-button color="danger" name="delete">X</ion-button>
      </ion-item>
    </ion-reorder>

    <ion-reorder>
      <ion-item>
        <ion-label>
          Set up ads
        </ion-label>
        <ion-button color="primary">View</ion-button>
        <ion-button color="secondary">Edit</ion-button>
        <ion-button color="danger">X</ion-button>
      </ion-item>
    </ion-reorder>
  </ion-reorder-group>

    <ion-button class="ion-float-end ion-margin-top ion-margin-end" color="tertiary">Settings</ion-button>




</ion-content>
