<wb-header [name]="'Todo'"></wb-header>
<ng-template #loading>
  <h1 class="ion-text-center">Loading...</h1>
  <ion-spinner name="line"></ion-spinner>
</ng-template>
<ion-content padding class="background" *ngIf="user$ | async as user; else loading">
  <ion-item>
    <ion-label slot="end">{{currentDate | date: 'dd/MM/yyyy HH:mm'}}</ion-label>
  </ion-item>
  <ion-text>
    <h1 class="ion-text-center ion-margin-vertical ion-text-capitalize">Hello, {{user.name}}</h1>
  </ion-text>
    <ion-reorder-group *ngIf="todos$ | async as todos" disabled="true" (ionItemReorder)="doReorder($event)"  >
      <ion-item-sliding *ngFor="let todo of todos; index as i">
        <ion-item-options side="start">
          <ion-item-option color="secondary" (click)="presentEditTodoFormModal(user, todo)">Edit</ion-item-option>
        </ion-item-options>

        <ion-item [routerLink]="['todo-detail/', todo.id]" [state]="{data: {todo: todo}}" routerDirection="forward">
          <ion-label>{{todo.title}}</ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="danger" (click)="deleteTodo(user.userId, i, user.todos)">Delete</ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-reorder-group>
  <ion-button color="primary" class="ion-margin-top ion-margin-start" (click)="presentPublicTodoFormModal(user)">Support others</ion-button>
  <ion-button class="ion-float-end ion-margin-top ion-margin-end" color="tertiary" (click)="toggleReorderGroup(user)">Reorder</ion-button>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="presentTodoFormModal(user)">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>



