<wb-header [name]="'Weather & More'"></wb-header>
<ion-content class="ion-padding background">
  <ng-template #loadingBlock>
    <ion-item>
      <ion-text color="dark">
        <h2>Loading... </h2>
      </ion-text>
      <ion-spinner name="dots" slot="end" class="ion-margin-end" duration="2000"></ion-spinner>
    </ion-item>
  </ng-template>
  <ion-card>
    <ion-grid>
      <ion-row *ngIf="getCityLocation$ | async as location; else loadingBlock">
        <ion-col size="12" class="ion-text-center">
          <ion-text color="dark">
            <h3 class="dark-text">{{location.city}}, {{location.countryCode}}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row div *ngIf="weatherReport$ | async as weather">
        <ion-col size="12" class="ion-text-center">
          <ion-text color="dark">
            <p class="dark-text">Current Temperature: {{weather[0].temperature + "&#8451;"}}</p>
          </ion-text>
          <ion-img class="svg" [src]="'./assets/icon/svg/'+weather[0].next_hour.summary.symbol_code+'.svg'"></ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin" >
        <ion-col size="12">
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <ion-item *ngIf="imageSource$ | async as imageSource" (click)="showDogPopover(imageSource)"  class="ion-margin-top blur">
    <ion-label>Random Dog Photo</ion-label>
    <ion-thumbnail slot="end">
      <img [src]="imageSource">
    </ion-thumbnail>
  </ion-item>
  <ion-card *ngIf="quote$ | async as quote" class="ion-margin-top ">
    <ion-grid>
      <ion-row class="ion-justify-content-center ion-text-center">
        <ion-col>
          <ion-text>
            <h6>Random joke</h6>
            <p class="ion-margn-top">{{quote.value[0].joke}}</p>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
  <ion-card *ngIf="cocktail$ | async as cocktail">
    <ion-item>
      <ion-icon name="wine-outline"></ion-icon>
      <ion-label>{{cocktail.strDrink}}</ion-label>
      <ion-button  (click)="showCocktailPopover(cocktail)" fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      <ion-text>
        <p>{{cocktail.strInstructions}}</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
</ion-content>
