ion-img.wallboard-icon {
  height: 20px;
  width: 20px;
  margin-left: unset;
  margin-right: unset;
  margin-inline-start: var(--ion-margin, 16px);
  margin-inline-end: var(--ion-margin, 16px);
}

.wallboard-register .modal-wrapper {

}
