<ion-content class="ion-margin ion-padding ion-align-items-center" #newTodoForm class="ion-margin-top" >
  <ion-grid class="ion-margin">
    <ion-row class="ion-margin-bottom">
      <ion-col>
        <ion-text class="ion-text-center">
          <h5>Make a new todo!</h5>
        </ion-text>
      </ion-col>
      <ion-col size="2">
        <ion-button color="danger" (click)="dismissModal()">X</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label for="title">Title: </ion-label>
        <ion-input color="medium" class="accent ion-margin-vertical" id="title" type="text" [formControl]="title"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col>
      <ion-label for="desc">Desc: </ion-label>
      <ion-input color="medium" class="accent ion-margin-vertical" id="desc" type="text" [formControl]="desc"></ion-input>
    </ion-col>
  </ion-row>
    <ion-row>
      <ion-col>
        <ion-label for="date">Date: </ion-label>
        <ion-input color="medium" class="ion-margin-vertical" id="date" type="date" [formControl]="date"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align-items-center">
        <ion-label for="public">Set Public?</ion-label>
        <ion-toggle color="medium" class="accent ion-margin-vertical ion-float-right" id="public" name="public" [formControl]="public"></ion-toggle>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" (click)="onSubmit()">Create Todo</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
